
<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>


<div class="d-flex align-items-center justify-content-center">
  <h1>Recipe Anonymous</h1>
  <br>
</div>

<div class="d-flex align-items-center justify-content-center">
  <h5>
    <% if @user%>
      Welcome: <%= @user.username%>
    <%end%>
  </h5>
</div>
  
<br>

<div class="d-flex align-items-center justify-content-center">
  <div class="input-group rounded" style="max-width: 65rem;">
    <input type="search" class="form-control rounded-10 border-0" placeholder="Search For Recipe" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
    </span>

  </div>
  <a href="/view">
    <button id="search-recipes" class="btn btn-primary" type="button" onclick="search_recipes()">Search Recipes</button>
  </a>
</div>

<style>
  .input-group {
    border: 2px solid black; /* Adjust the border thickness as per your preference */
  }
</style>
<head>
  <link rel="icon" type="image/x-icon" href="/images/pizza-outline.svg">
</head>

<body>

  <br>
  <center>
    <h4>Latest Recipe!</h4>
  </center>
  <br>

  <style>
    .card {
      width: 65rem; /* Adjust the width as per your preference */
      height: auto; /* This will adjust the height automatically based on content */
    }
  </style>

  <div class="d-flex align-items-center justify-content-center">
    <a href="/view" class="d-block mx-auto">
      <div class="card shadow-sm">
        <%= image_tag "food1.jpg" %>
        <div class="card-body">
          <h5 class="card-title">Food title</h5>
          <p class="card-text">Food description.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
  <center><h4>About Us</h4></center>
  <center>
  <p>
  Recipe Anonymous is a unique recipe sharing platform that 
  aims to shift the focus of recipe sharing away from the 
  difficulties of modern websites back to the food. Our objective
  is to connect all cooks around the world so they can spread their food innovations. 
  </p>
  </center>


  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
